[project]
	description = AOSP ParanoidAndroid Vendor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ilbarone87
[access "refs/for/refs/*"]
	read = group user/ilbarone87
	push = group user/ilbarone87
	label-Code-Review = -2..+2 group user/ilbarone87
	label-Verified = -1..+1 group user/ilbarone87
	rebase = group user/ilbarone87
	removeReviewer = group user/ilbarone87
	submit = group user/ilbarone87
[access "refs/heads/*"]
	read = group user/ilbarone87
	create = group user/ilbarone87
	push = +force group user/ilbarone87
	pushMerge = group user/ilbarone87
[access "refs/tags/*"]
	push = +force group user/ilbarone87
	pushTag = group user/ilbarone87
	pushSignedTag = group user/ilbarone87
